html,
body,
#root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: ivory;
}

.computer-screen iframe {
    width: 600px;
    height: 300px;
}

.phone-screen iframe {
    width: 315px;
    height: 560px;
}

.desk-lamp-label {
    display: block;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 12px;
    line-height: 16px;
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "ROND" 0;
    text-wrap: nowrap;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.5s;
    &:hover {
        background-color: rgba(124, 56, 188, 0.5);
    }
    &.hidden {
        opacity: 0;
        pointer-events: none;
    }
}

.music {
    position: fixed;
    z-index: 999;
    bottom: 30px;
    right: 30px;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover .slider-container {
        opacity: 1;
    }
}

.volume {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-container {
    position: relative;
    height: 150px;
    width: 10px;
    padding-bottom: 30px;
    opacity: 0;
    transition: opacity 0.3s;
}

.vertical-slider {
    -webkit-appearance: none;
    width: 150px;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
    outline: none;
    transform: rotate(-90deg);
    transform-origin: 75px 75px;
}

.vertical-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    border-radius: 50%;
}

.vertical-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.speaker-icon {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.6);
    transition: color 0.3s;
    &:hover {
        color: rgba(255, 255, 255, 0.8);
    }
}
